// module 
.wrp-grid{
	@media screen and (min-width:769px) {
		margin-left: -12px;
    margin-right: -12px;
	}
	box-sizing: border-box;
}
.box-hdg{
	&--detail{
		@media screen and (min-width:769px) {
			margin-left: 0;
			margin-right: 0;
			padding: 41px 20px 41px;
			position: relative;
		}
			& small{
				@media screen and (min-width:769px) {
					font-size: 18px;
				}
				text-align: center;
				font-size: 14px;
				font-weight: bold;
				display: block;
				color: #009CD0;
			}
			&:before {
				@media screen and (min-width:769px) {
					width: 80px;
					height: 3px;
				}
				content: '';
				position: absolute;
				display: block;
				width: 60px;
				height: 2px;
				background: #009CD0;
				bottom: 0;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
			}
			&::after{
				content: '';
				position: absolute;
				width: 100vw;
				height: 100%;
				background: #F5F7F8;
				top: 0;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
				z-index: -1;
			}
		}
	&__hdg{
		@media screen and (min-width:769px) {
			font-size: 36px;
			font-weight: bold;
			margin: 4px;
			line-height: 1.5;
		}
		text-align: center;
		font-size: 20px;
		margin-top: 0;
		line-height: 1.5;
		margin-top: 2px;
	}
}

.hdg-lv2{
	position: relative;
    margin-top: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
	border-bottom: none;
    line-height: 1.5;

	&.hdg-lv2--underbar{
		@media screen and (min-width:769px) {
			margin-top: 96px;
			font-size: 24px;
			line-height: 1.5;
		}
		font-size: 18px;
		font-weight: bold;
		padding-bottom: 13px;

		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background: #CBD4D9;
			bottom: 1px;
			left: 0;
			z-index: 1;
		}
		&:after{
			@media screen and (min-width:769px) {
				width: 120px;
			}
			content: '';
			position: absolute;
			width: 64px;
			height: 3px;
			background: #009CD0;
			left: 0;
			bottom: 0;
			z-index: 2;
		}
	}
	&--center{
		justify-content: center;
		font-weight: bold;
	}
}
.hdg-lv3 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 64px;
	line-height: 1.5;

	&--bg {
		@media screen and (min-width:769px) {
			font-size: 20px;
			padding: 12px 25px 13px;
		}
		padding: 10px 16px;
		position: relative;
		background: #F5F7F8;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&:before {
			@media screen and (min-width:769px) {
				width: 4px;
			}
			content: '';
			position: absolute;
			width: 3px;
			height: 100%;
			top: 0;
			left: 0;
			background: #009CD0;
		}
		& >  span {
			display: block;
			flex-basis: auto;
			flex-shrink: 1;
		}

		& .link-common {
			@media screen and (min-width:769px) {
				margin-left: 24px;
				font-size: 16px;
			}
			font-weight: normal;
			flex-basis: auto;
			flex-shrink: 0;
			font-size: 12px;
			margin-left: 16px;
		}
	}
}
.hdg-lv4 {
	font-size: 14px;
	margin-top: 28px;
	line-height: 1.5;
	@media screen and (min-width:769px) {
		font-size: 16px;
		margin-top: 32px;
	}
}
.hdg-lv5 {
	@media screen and (min-width:769px) {
		line-height: 1.5;
	}
    line-height: 1.5;
}
.link-common {
	position: relative;
	padding-left: 20px;
	font-size: 14px;
	line-height: 1.75;
	display: inline-block;
	margin-left: auto;

	&:hover{
		text-decoration: none;
		color: #009CD0;
		&::after{
			@media screen and (min-width:769px) {
				transform: translate(35%, -50%);
			}
		}
	}

	&::after{
		@media screen and (min-width:769px) {
			transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
		content: "";
		display: block;
		position: absolute;
		left: -30px;
		top: 50%;
		width: 30px;
		height: 12px;
		background: url(../images/icon-arrow-black.svg) center center/contain no-repeat;
		pointer-events: none;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		z-index: 1;

	}
}
.link-common-02{
	position: relative;
	padding-left: 20px;
	font-size: 14px;
	line-height: 1.75;
	display: inline-block;
	margin-left: auto;
	padding-left: 8px;
	color: #333;
	&:hover{
		color: #2065c0;
		&::before{
			border-top: 1px solid #2065c0;
			border-right: 1px solid #2065c0;
			@media screen and (min-width:769px) {
				left: -17px;
				transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}
			
		}
	}

	&::before {
		content: '';
		display: inline-block;
		width: 10px;
		height: 10px;
		border-top: 1px solid #333;
		border-right: 1px solid #333;
		transform: translateY(-50%) rotate(45deg);
		position: absolute;
		top: 50%;
		left: -23px;
		-webkit-transform: translateY(-50%) rotate(45deg);
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		background: unset;
	}

	&[target="_blank"]{
		&::after{
			content: "";
			display: inline-block;
			right: 0;
			width: 12px;
			height: 12px;
			margin-left: 10px;
			top: 0;
			border: none;
			background: url(../images/blank_arrow.png) no-repeat top center;
			background-size: 100% auto;
		
		}
	}
	&[href*=".pdf"]{
		&:after{
			@media screen and (min-width:769px) {
				width: 14px;
				height: 14px;
			}
			content: '';
			width: 12px;
			height: 12px;
			background: url(../images/icon-pdf.svg) no-repeat;
			background-size: cover;
			vertical-align: middle;
			margin-left: 4px;
			position: relative;
			display: inline-block;
			top: -1px;
		}
	}
	&[href$="xlsx"]{
		&:after{
			@media screen and (min-width:769px) {
				width: 14px;
				height: 14px;
			}
			content: '';
			width: 12px;
			height: 12px;
			background: url(../images/icon-excel.svg) no-repeat;
			background-size: cover;
			vertical-align: middle;
			margin-left: 4px;
			position: relative;
			display: inline-block;
			top: -1px;
		}
		
	}
}

.txt{
	&-lead {
		@media screen and (min-width:769px) {
			font-size: 16px;
			margin-top: 60px;
		}
		font-size: 14px;
		margin-top: 25px;
	}
	&-common {
		@media screen and (min-width:769px) {
			font-size: 16px;
		}
		font-size: 14px;
		margin-top: 16px;
	
		& + &{
			margin-top: 8px;
		}
	}
	&-small{
		font-size: 14px;
	}
	&-emp{
		@media screen and (min-width:769px) {
			font-size: 16px;
		}
		font-size: 14px;
		font-weight: bold;
	}
	&-attention{
		@media screen and (min-width:769px) {
			font-size: 16px;
		}
		font-size: 14px;
		color: #E31F1F;
	}
	&-note{
		color: #555555;

		font-size: 10px;
		&:before{
			@media screen and (min-width:769px) {
				font-size: 12px;
			}
			position: relative;
			display: inline;
			font-size: 10px;
			padding-right: 4px;
		}
	}
}


.txt-link{
	position: relative;
	padding-left: 20px;
	font-size: 14px;
	line-height: 1.75;
	@media screen and (min-width:769px) {
		font-size: 16px;
		padding-left: 24px;
		transition: .2s;	
	} 
}
.lst-link{
	& li{
		margin-top: 5px;
		padding-left: 24px;
	}
}
//sec contact start

.sec_contact{
	background: rgb(95, 118, 206);
    background: linear-gradient(65deg, rgba(95,118,206,1) 0%, rgba(88,145,207,1) 32%, rgba(88,145,207,1) 70%, rgba(98,150,206,1) 100%);
    position: relative;
    padding: 80px 0 70px;

	& .wrp_container{
		margin: 0 4%;
	}
	.box_contact {
		display: flex;
		color: #fff;
		&_text{
			flex-basis: 57.97%;
			display: flex;
			align-items: center;

			.hdg_lv2{
				&_main{
					display: block;
					font-weight: 400;
					font-size: 34px;
					letter-spacing: 0.12em;
					line-height: 1.2;
				}
				&_sub{
					display: block;
					color: #fff;
					font-size: 14px;
					letter-spacing: 0.1em;
					margin-top: 7px;
				}
			}
			&_button {
				margin-top: 77px;
			}
		}
		&_description {
			font-size: 16px;
			margin-top: 28px;
		}
		&_image {
			line-height: 0;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 42.03%;
		}
	}
	.btn_contact {
		color: #fff;
		border: 2px solid #fff;
		border-radius: 0;
		background: transparent;
		position: relative;

		&::after{
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
			transform: translateY(-50%) rotate(45deg);
			position: absolute;
			top: 50%;
			right: 24px;
			-webkit-transform: translateY(-50%) rotate(45deg);
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;

		}
	}
}

.box-card{
	&__item{
		@media screen and (min-width:769px) {
			margin-bottom: 40px;
		}
		// width: 100%;
		// height: 100%;
		// max-width: ;
		& a:hover{
			.box-card__img img{
				-webkit-transform: scale(1.08);
				transform: scale(1.08);
			  
			}
		}
	}
	&__txt{
		h4 + p{
			margin-top: 10px;
		}

		& p{
			@media screen and (min-width:769px) {
				font-size: 16px;
			}
			font-size: 14px;
			color: #333;
		}
	}
	&__img{
		overflow: hidden; 
		& img{
			-webkit-transition: 0.4s ease;
			transition: 0.4s ease;
		}
	}
}

.lst-dot{
	& > li{
		@media screen and (min-width:769px) {
			padding-left: 30px;
			font-size: 16px;
		}
		padding-left: 24px;
		font-size: 14px;
		position: relative;

		&::before{
			@media screen and (min-width:769px) {
				font-size: 24px;
			top: 1px;
			}
			content: '・';
			position: absolute;
			display: block;
			font-size: 22px;
			line-height: 1;
			top: -1px;
			left: -3px;
		}
	}
}
.banner__slider{
	.slider, .slide {
		@media  screen and (min-width: 769px) {
			height: 50vh;
		}
		}
		.slide {
			position: relative;
			transition: 1s;
			.slide__img {
				@media  screen and (min-width: 769px) {
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
				width: 100%;
				height: auto;
				overflow: hidden;

				img {
					max-width: 100%;
					height: auto;
					opacity: 1;
					animation-duration: 3s;
					transition: all 1s ease;
				}
			}
			.slide__content {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				&.slide__content__left{
					left: 15%;
					transform: translate(-15%, -50%);
				}
				&.slide__content__right{
					right: 15%;
					left: auto;
					transform: translate(5%, -50%);
				}
				&--headings {
					color: #FFF;
					h2 {
						font-size: 4.5rem;
						margin: 10px 0;
					}
					.animated {
						transition: all .5s ease;
					}
					.top-title{
						font-family: 'Playball', cursive;
						font-size: 2.5rem;
					}
					.title{
						font-size: 3.5rem;
					}
					.button-custom{
						text-decoration: none;
						color: #333;
						padding: 2.2rem 3.5rem;
						border-radius: 0;
						min-width: auto;
						font-size: 1.5rem;
					}
				}
			}
		}
	// Change animation presets
	.slider{
		& .slick-active{
			& [data-animation-in] {
				opacity: 1;
			}
			& .text-left {
				& .top-title[data-animation-in]{
					animation-delay: 0.2s;
				}
				& [data-animation-in]{
					animation: fadeInRight 1s ease-in-out;
					animation-duration: 1.5s;
				}
				& [data-animation-in="fadeInUp"]{
					animation-name: fadeInUp;
					-webkit-animation-name: fadeInUp;
				}
			} 
			& .text-center {
				& .top-title[data-animation-in]{
					animation-delay: 0.2s;
				}
				& [data-animation-in]{
					animation: fadeInUp 1s ease-in-out;
					animation-duration: 1.5s;
				}
				& [data-animation-in="fadeInLeft"]{
					animation-name: fadeInLeft;
					-webkit-animation-name: fadeInLeft;
				}
			} 
			& .text-right {
				& .top-title[data-animation-in]{
					animation-delay: 0.2s;
				}
				& [data-animation-in]{
					animation: fadeInLeft 1s ease-in-out;
					animation-duration: 1.5s;
				}
				& [data-animation-in="fadeInUp"]{
					animation-name: fadeInUp;
					-webkit-animation-name: fadeInUp;
				}
			} 
		} 
		& [data-animation-in] {
			opacity: 0;
			animation-duration: 1.5s;
			transition: opacity 0.5s ease 0.3s;
			transition:1s;
		}
	}
	.slick-dotted .slick-slider {
		margin-bottom: 30px;
	}
	.slick-dots {
		position: absolute;
		bottom: 25px;
		list-style: none;
		display: block;
		text-align: center;
		padding: 0;
		margin: 0;
		width: 100%;
		li {
			position: relative;
			display: inline-block;
			margin: 0 5px;
			padding: 0;
			cursor: pointer;
			button {
				border: 0;
				display: block;
				outline: none;
				line-height: 0px;
				font-size: 0px;
				color: transparent;
				padding: 5px;
				cursor: pointer;
				transition: all .3s ease;
				&:hover, &:focus {
					outline: none;
				}
			}
		}
	}
	.simple-dots {
		.slick-dots {
			li {
			width: 20px;
			height: 20px;
			button {
				border-radius: 50%;
				background-color: #fff;
				opacity: 0.25;
				width: 20px;
				height: 20px;
				&:hover, &:focus {
				opacity: 1;
				}
			}
			&.slick-active button {
				color: #fff;
				opacity: 0.75;
				}
			}
		}
	}

		@keyframes zoomInImage {
		from {
			transform: scale3d(1, 1, 1);
				transition:2s;
		}
		to {
			transform: scale3d(1.1, 1.1, 1.1);
					transition:2s;
		}
		}
		
		@keyframes zoomOutImage {
		from {
			transform: scale3d(1.1, 1.1, 1.1);
					transition:2s;
		}
		to {
			transform: scale3d(1, 1, 0.7);
					transition:2s;
		}
		}
		

		
		
		.slick-nav {
			--active: #fff;
			--border: rgba(255, 255, 255, .12);
			width: 44px;
			height: 44px;
				position: absolute;
			cursor: pointer;
			top: calc(50% - 44px);
			&.prev-arrow {
					left: 3%;
					transform: scaleX(-1);
					z-index: 999;
			}
			&.next-arrow{
				left: auto;
				right: 3%;
			}
			i {
				display: block;
				position: absolute;
				margin: -10px 0 0 -10px;
				width: 20px;
				height: 20px;
				left: 50%;
				top: 50%;
				&:before,
				&:after {
					content: '';
					width: 10px;
					height: 2px;
					border-radius: 1px;
					position: absolute;
					left: 50%;
					top: 50%;
					background: var(--active);
					margin: -1px 0 0 -5px;
					display: block;
					transform-origin: 9px 50%;
				}
				&:before {
					transform: rotate(-40deg);
				}
				&:after {
					transform: rotate(40deg);
				}
			}
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 1px;
				right: 1px;
				top: 1px;
				bottom: 1px;
				border-radius: 50%;
				border: 2px solid var(--border);
			}
			svg {
				width: 44px;
				height: 44px;
				display: block;
				position: relative;
				z-index: 1;
				color: var(--active);
				stroke-width: 2px;
				stroke-dashoffset: 126;
				stroke-dasharray: 126 126 0;
				transform: rotate(0deg);
			}
			&.animate {
				svg {
					animation: stroke 1s ease forwards .3s;
				}
				i {
					animation: arrow 1.6s ease forwards;
					&:before {
						animation: arrowUp 1.6s ease forwards;
					}
					&:after {
						animation: arrowDown 1.6s ease forwards;
					}
				}
			}
		}
		
		@keyframes stroke {
			52% {
				transform: rotate(-180deg);
				stroke-dashoffset: 0;
			}
			52.1% {
				transform: rotate(-360deg);
				stroke-dashoffset: 0;
			}
			100% {
				transform: rotate(-180deg);
				stroke-dashoffset: 126;
			}
		}
		
		@keyframes arrow {
			0%,
			100% {
				transform: translateX(0);
				opacity: 1;
			}
			23% {
				transform: translateX(17px);
				opacity: 1;
			}
			24%,
			80% {
				transform: translateX(-22px);
				opacity: 0;
			}
			81% {
				opacity: 1;
				transform: translateX(-22px);
			}
		}
		
		@keyframes fadeInUp {
		from {
			transform: translate3d(0,40px,0)
		}

		to {
			transform: translate3d(0,0,0);
			opacity: 1
		}
	}

	@-webkit-keyframes fadeInLeft {
		0% {
			opacity: 0;
			-webkit-transform: translateX(-20px);
		}
		100% {
			opacity: 1;
			-webkit-transform: translateX(0);
		}
		}
		
		@keyframes fadeInLeft {
		0% {
			opacity: 0;
			transform: translateX(-200px);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
		}
		
	@-webkit-keyframes fadeInUp {
		from {
			transform: translate3d(0,40px,0)
		}

		to {
			transform: translate3d(0,0,0);
			opacity: 1
		}
	}

		
		@keyframes arrowDown {
			0%,
			100% {
				transform: rotate(40deg) scaleX(1);
			}
			20%,
			80% {
				transform: rotate(0deg) scaleX(.1);
			}
		}
		@keyframes fadeInRight {
		from {
			opacity: 0;
			transform: translateX(200px);
		}
		to {
			opacity: 1;
		}
		}
		.btn-light{
		color: #212529;
		background-color: #f8f9fa;
		border-color: #f8f9fa;
		}
		.btn-success{
		color: #fff;
		background-color: #28a745;
		border-color: #28a745;
		}
		.text-center{
			text-align: center;
		}
		.text-right{
			text-align: right;
		}
}


.tabs-product{
	&__details{
		display: flex;
		margin-left: -2rem;
		margin-right: -2rem;
		width: 100%;
		box-sizing: border-box;
	}
	.nav_flex{
		padding: 0 2rem;
	}
	&__ul{
		width: 20%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-left: 3px solid #1B98E0;
		position: relative;
		
	}
	.nav-item{
		padding: 13px;
		position: relative;
		display: block;
		width: 100%;
		text-align: center;
		transition: color 1s ease;

		&.active{
			background-color: #1B98E0;
			color: #fff;
			-webkit-transition: all 1s ease 0s;
			-moz-transition: all 1s ease 0s;
			-ms-transition: all 1s ease 0s;
			-o-transition: all 1s ease 0s;
			transition: all 1s ease 0s;
			
		}
	}
	&__items{
		
		& > div{
			display: none;
		}
		& > .active{
			display: block;
		}

		&-wrapper{
			width: calc(100% - 20%);
		}
	}
}

// ----detail product------

.box-product{
	.box-txtimg__txt{
		.hdg-lv3{
			margin-top: 0;
		}
		.txt-common{
			margin-top: 0;
		}
	}
	&_price{
		display: flex;
		font-size: 30px;
		padding: 30px 0px;
		position: relative;
		&--old{
			color: #969696;
			text-decoration: line-through;
			& span:first-child{
				font-size: 14px;
				vertical-align: top;
				letter-spacing: 0.15em;
			}
			& span:last-of-type{
				font-size: 14px;
				letter-spacing: 0.04em;
				padding-left: 4px;
			}
			&::after{
				content: '';
				display: inline-block;
				padding-left: 20px;
				width: 30px;
				height: 12px;
				background: url(../images/icon-arrow-black.svg) center center/contain no-repeat;
				pointer-events: none;
				transform: translateY(-50%);
				z-index: 1;
				padding-right: 20px;
			}
		}
		&--new{
			color: #E31F1F;
			& span:first-child{
				font-size: 14px;
				vertical-align: top;
				letter-spacing: 0.15em;
			}
			& span:last-of-type{
				font-size: 14px;
				letter-spacing: 0.04em;
				padding-left: 4px;
			}
		}
	}
}

#wrap{
	background-color: #ddd;
	padding: 50px 0;
  }
  #slider,#thumbnail_slider{
	width: auto;
	margin: 0 auto 10px;
  }
  .slide-item{
	img{
	  width: 100%;
	}  
  }
  .thumbnail-item{
	img{
	  width: 98%;
	  margin: 0 auto;
	} 
	cursor: pointer;
  }



.nav-global-wrap{
	&_lv1{
		&:first-child{
			--color: #00ade1;
            .nav-parent{
				&__title{
					& a{
						color: var(--color);
					}
				
				}
			}
		}
		&:nth-child(2){
			--color: #ff6493;
			.nav-parent{
				&__title{
					& a{
						color: var(--color);
					}
				}
			}
		}
		&:nth-child(3){
			--color: #ffdd1c;
			.nav-parent{
				&__title{
					& a{
						color: var(--color);
					}
				}
			}
		}
		&:nth-child(4){
			--color: #00dc82;
			.nav-parent{
				&__title{
					& a{
						color: var(--color);
					}
				}
			}
		}
		&:last-child{
			--color: #dc00d4;
			.nav-parent{
				&__title{
					& a{
						color: var(--color);
					}
				}
			}
		}

		& a{
			position: relative;
			font-size: 16px;
			line-height: 1em;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			text-decoration: none;
			color: #000;

			&::before {
				content: attr(data-text);
				position: absolute;
				width: 0;
				left: -11px;
				color: var(--color);
				overflow: hidden;
				transition: 1s;
				border-right: 4px solid var(--color);
				-webkit-text-stroke: 1px var(--color);
			}
			&:hover{
				&::before {
					width: 100%;
					filter: drop-shadow(0 0 25px var(--color));
					left: 0px;
					}
			}
			&::after{
				@media screen and (min-width:769px) {
					border-bottom: 0.3rem solid var(--color) !important;
				}
				
			}
		}
	}
}

footer {
	width: 100vw;
	bottom: 0;
	position: absolute;
	left: 0;
	display: flex;
	align-items: flex-end;
	padding-bottom: 3rem;
	justify-content: center;
	overflow: hidden;
	position: absolute;
	width: 100vw;
	height: 400px;
	bottom: 0;
  }

.gooey-animations{
	overflow: hidden;
	@media screen and (min-width:769px) {
		position: absolute;
	}
	width: 100vw;
	height: 400px;
	left: 0;
	bottom: 0;

	
	&::after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 225px;
	}
	@media only screen and (max-width: 700px)
	{	
		clip-path: none;
		height: 150px;
	}

	.ball{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #28323B;
		position: absolute;
		animation: up 5s cubic-bezier(0.7, 0.89, 0.32, 0.28) infinite;
		// animation: up 5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
	}

	@media only screen and (max-width: 700px)
	{
		animation: up-small 5s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
	}
	@keyframes up {
		0% {
		  bottom: 0px;
		  width: 40px;
		  height: 40px;
		}
		50% {
		  bottom: 200px;
		}
		100% {
		  bottom: 0px;
		  width: 0px;
		  height: 0px;
		}
	  }
	  @keyframes up-small {
		0% {
		  bottom: 0px;
		  width: 40px;
		  height: 40px;
		}
		50% {
		  bottom: 150px;
		}
		100% {
		  bottom: 0px;
		  width: 0px;
		  height: 0px;
		}
	  }

}

#l-container + #footer{
	margin-bottom: 100px;
}
.l-footer{
    & ul{
        display: flex;
        z-index: 1;
        position: relative;
        li{
            padding: 0 20px;
            & a{
                display: block;
                width: 50px;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}